<html>
    <head>
        <title>Sweet Time Berlin blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sweet Time Berlin blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>\Sweet Time Berlin blog has a new blog post.</p>
        </div>

        <div>
            <p>published: 02.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Sweet Time Berlin blog, has published their second blog post.</p>
        </div>
    </body>
</html>
